{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <table class="table table-striped">
            <thead>
            <tr>
                {% for col_name in data.keys() %}
                    <td style="font-size: 20px; vertical-align: bottom;" align="center" width="150px"><b>{{ col_name }}</b></td>
                    <td width="100px"><a class="btn btn-danger" href="/del/{{ col_name }}">-</a></td>
                {% endfor %}
                {% if status == "new" %}
                    <form action="" method="post"><td scope="col" width="200px">{{ form1.hidden_tag() }}
                            {{ form1.column_name(class="form-control", type="text", size="1px", autocomplete="off", placeholder="New Column") }}</td>
                            <td>{{ form1.submit(type="submit", class="btn btn-primary") }}
                            {% for error in form1.column_name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                    </td></form>
                {% else %}
                    <td scope="col"><a class="btn btn-success" href="/index/new">+</a></td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if status == -1 %}
                <tr>
                    {% for k in data.keys() %}
                        <td></td>
                        <td><a class="btn btn-success" href="/index/{{ k }}">+</a></td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for k in data.keys() %}
                        {% if k == status %}
                        <form action="" method="post"><td width="100px">
                                {{ form.hidden_tag() }}
                                {{ form.summa(class="form-control", type="integer", autocomplete="off", autofocus="on", placeholder="0") }}</td>
                            <td>
                                {{ form.submit(type="submit", class="btn btn-primary") }}
                        </td></form>
                        {% else %}
                            <td></td>
                            <td><a class="btn btn-success" href="/index/{{ k }}">+</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
            {% for i in range(max_size) %}
            <tr>
                {% for k in data.keys() %}
                    {% if data[k][i] %}
                        <td width="150px" align="right" style="font-size: 22px">{{ data[k][i] }}</td>
                        <td width="100px"><a class="btn btn-danger" href="/del/{{ k }}/{{ i }}">-</a></td>
                    {% else %}
                        <td width="150px"></td>
                        <td width="100px"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                {% for n in sums %}
                    <td bgcolor="#00AA00" align="center" style="font-size: 26px"><a>{{ n }}</a></td>
                    <td bgcolor="#00AA00"></td>
                {% endfor %}
                {% if ts > 0 %}
                    <td bgcolor="#007500" align="center" style="font-size: 26px"><b>{{ ts }}</b></td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}
{% endblock %}