{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == "Operator" %}
                <h1>Активные вопросы</h1>
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if not question.answered %}
                            {% if not question.personal and question.user_id != current_user.id %}
                                <p>
                                    <div class="alert alert-danger" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <h1>Решённые вопросы</h1>
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.answered %}
                            {% if not question.personal and question.user_id != current_user.id %}
                                <p>
                                    <div class="alert alert-success" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/open/{{ question.id }}">Посмотреть ответ</a>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elif current_user.role == "Admin" %}
                <h3>Активные вопросы</h3>
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "red" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-danger" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                </p>
                            {% endif %}
                        {%endif%}
                    {% endif %}
                {% endfor %}
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "yellow" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-warning" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "green" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-primary" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <h3>Решённые вопросы</h3>
                {% for question in quests %}
                        {% if TAG in question.tags %}
                            {% if question.answered == True %}
                                <p>
                                    <div class="alert alert-success" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/open/{{ question.id }}">Открыть ответ</a>
                                </p>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            {% elif current_user.role == "Specialist" %}
                <h3>Активные вопросы</h3>
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "red" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-danger" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/add_answer/{{ question.id }}">Добавить ответ</a>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "yellow" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-warning" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/add_answer/{{ question.id }}">Добавить ответ</a>
                                </p>
                            {% endif %}
                        {% endif %}
                    {%endif %}
                {% endfor %}
                {% for question in quests %}
                    {% if TAG in question.tags %}
                        {% if question.priority == "green" %}
                            {% if question.answered == False %}
                                <p>
                                    <div class="alert alert-primary" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled>{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/add_answer/{{ question.id }}">Добавить ответ</a>
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <h3>Решённые вопросы</h3>
                {% for question in quests %}
                        {% if TAG in question.tags %}
                            {% if question.answered == True %}
                                <p>
                                    <div class="alert alert-success" role="alert">
                                    {{ question.author_username }}<br>
                                    <textarea rows="2" cols="50" disabled >{{question.text}}</textarea><br>
                                    {% for tag in question.tags.split(', ') %}
                                        <a class="btn" href="/index&tag={{tag}}">{{ tag }}</a>
                                    {% endfor %}
                                    </div>
                                    <a class="btn btn-success" href="/open/{{ question.id }}">Открыть ответ</a>
                            {% endif %}
                        {% endif %}
                {% endfor %}
        {% endif %}
    {% else %}
        <h3>Вы не авторизованы</h3>
    {% endif %}
{% endblock %}