{% extends "base.html" %}

{% block content %}
    <h1>Задать вопрос</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", type="text") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.priority.label }}<br>
            {% for subfield in form.priority %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td><br>
                </tr>
            {% endfor %}
        </p>
        <h6>Выберете теги</h6>
        <p>{{ form.tag_py() }} {{ form.tag_py.label }}<br>
        {{ form.tag_word() }} {{ form.tag_word.label }}<br>
        {{ form.tag_excel() }} {{ form.tag_excel.label }}<br>
        {{ form.tag_powerpoint() }} {{ form.tag_powerpoint.label }}<br>
        {{ form.tag_paint() }} {{ form.tag_paint.label }}<br>
        {{ form.tag_browser() }} {{ form.tag_browser.label }}<br>
        {{ form.tag_other_app() }} {{ form.tag_other_app.label }}<br>
        {{ form.tag_unopen() }} {{ form.tag_unopen.label }}<br>
        {{ form.tag_lag() }} {{ form.tag_lag.label }}<br>
        <p>{{ form.personal() }} {{ form.personal.label }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}